<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-3.1.1.min.css" 
        data-th-href="@{/resources/css/bootstrap-3.1.1.min.css}" />
        
    <link type="text/css" rel="stylesheet" href="../../resources/font-awesome/css/font-awesome.css" 
        data-th-href="@{/resources/font-awesome/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/sb-admin.css" 
        data-th-href="@{/resources/css/sb-admin.css}" />
    
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
function sendAjaxRequest(gouvernorat,idville) {
	$.get("http://localhost:8080/gest/camion/ville?gouvernorat="
			+ gouvernorat, function(data) {
		$(idville).empty();
		$(idville).append(
				$("<option></option>").attr("value", 0).text("Tout"));
		
		$.each(data,function(key,value){

				$(idville).append(
						$("<option></option>").attr("value", key).text(value));

		});

	});
}


function sendAjaxRequest2(ville,idloc) {
	
	$.get("http://localhost:8080/gest/camion/localisation?ville=" + ville,
			function(data) {
				$(idloc).empty();
				$(idloc).append(
						$("<option></option>").attr("value", 0).text(
								"Tout"));
				
				$.each(data,function(key,value){
					$(idloc).append(
							$("<option></option>").attr("value", key)
									.text(value));
				});
					
			});
}

function sendAjaxRequestA(gouvernorat,idville,ville) {
	$.get("http://localhost:8080/gest/camion/ville?gouvernorat="
			+ gouvernorat, function(data) {
		$(idville).empty();
		$(idville).append(
				$("<option></option>").attr("value", 0).text("Tout"));
		
		$.each(data,function(key,value){
			if(key==ville){
			$(idville).append(
					$("<option></option>").attr("value", key).attr('selected', 'selected').text(value));
			}
			else{
				$(idville).append(
						$("<option></option>").attr("value", key).text(value));
			}
		});

	});
}


function sendAjaxRequest2A(ville,idloc,localisation) {
	
	$.get("http://localhost:8080/gest/camion/localisation?ville=" + ville,
			function(data) {
				$(idloc).empty();
				$(idloc).append(
						$("<option></option>").attr("value", 0).text(
								"Tout"));
				
				$.each(data,function(key,value){
					if(key==localisation){
					$(idloc).append(
							$("<option></option>").attr("value", key).attr('selected', 'selected')
									.text(value));
					}else{
						$(idloc).append(
								$("<option></option>").attr("value", key)
										.text(value));
					}
				});
					
			});
}



	
function sendAjax(){
	var ville;
	var gouvernorat;
	$("#inst").html("hjhghjhg");
	var localisation = $("#localisation").val();
	$("#inst").html(localisation);
	$.get( "http://localhost:8080/gest/camion/getVille?localisation="+localisation, function( data ) {
		ville=data;
		$.get( "http://localhost:8080/gest/camion/getGouvernorat?ville="+ville, function( data ) {
			gouvernorat=data;
			$("#gouvernorat").val(gouvernorat);
			sendAjaxRequestA(gouvernorat,"#ville",ville);
			sendAjaxRequest2A(ville,"#localisation",localisation);

			
	});
		
});
}
	
	
	
	$(document).ready( function() {
		
		
		sendAjax();
		
		
		$("#gouvernorat").change(function() {
			var g = $("#gouvernorat").val();
			sendAjaxRequest(g,"#ville");

		});

		$("#gouvernorat1").change(function() {
			var g = $("#gouvernorat1").val();
			sendAjaxRequest(g,"#ville1");
		});

		$("#ville").change(function() {
			var v = $("#ville").val();
			sendAjaxRequest2(v,"#localisation");
		});

		$("#ville1").change(function() {
			var v = $("#ville1").val();
			sendAjaxRequest2(v,"#localisation1");
		});

	
		}
	);
	
	
</script>
    <title >Edit Camion</title>
</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div data-th-replace="fragments/sb-admin :: top-nav"></div>
    
    <div data-th-replace="fragments/sb-admin :: vert-nav"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <h4 class="page-header" >Edit Camion</h4>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
					<form class="form-horizontal" action="#" data-th-action="@{/camion/edit}" data-th-object="${camionDTO}" method="post">
						<div class="form-group">
							<label class="col-sm-5 control-label" >Id </label>
							<div class="col-sm-7">
								<input type="text" hidden="hidden" data-th-value="*{ID_AUDITE}" data-th-field="*{ID_AUDITE}" ></input>
								<input type="text" class="form-control" data-th-value="*{ID_AUDITE}" data-th-field="*{ID_AUDITE}" ></input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" >Nom Camion</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" data-th-value="*{nom_audite}" data-th-field="*{nom_audite}" ></input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" >Matricule</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" data-th-value="*{matricule}" data-th-field="*{matricule}" ></input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" >Valid</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" data-th-value="*{isValid}" data-th-field="*{isValid}" ></input>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-5 control-label" >Operator</label>
							<div class="col-sm-7">
							<select class="form-control" th:field="*{ID_OP}">
                                     			 <option th:each="operator : ${allOperators}" th:value="${operator.ID_OP}" th:text="${operator.nom_op}">Dropdown</option>
                                   				 </select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-5 control-label" >Gouvernorat</label>
							<div class="col-sm-7">
							<select class="form-control" id="gouvernorat">
                                     			 <option th:value="0">-- --</option>
                                     			 <option th:each="gouvernorat : ${allGouvernorat}" th:value="${gouvernorat.ID_Gouv}" th:text="${gouvernorat.Nom_Gouver}">Dropdown</option>		
                                   				 </select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" >Ville</label>
							<div class="col-sm-7">
							<select class="form-control" id="ville" >
                                     		 <option th:value="0">-- --</option>
                                   				 </select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" >Localisation</label>
							<div class="col-sm-7">
							<select class="form-control" id="localisation" th:field="*{ID_LOC}" >
                                     			  <option th:value="*{ID_LOC}">-- --</option>
                                   				 </select>
							</div>
						</div>
						
						
<!-- 						<div class="form-group"> -->
<!-- 							<label class="col-sm-5 control-label" >User First Name</label> -->
<!-- 							<div class="col-sm-7"> -->
<!-- 								<input type="text" class="form-control" data-th-value="*{fname}" data-th-field="*{fname}" ></input> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label class="col-sm-5 control-label" >User Last Name</label> -->
<!-- 							<div class="col-sm-7"> -->
<!-- 								<input type="text" class="form-control" data-th-value="*{lname}" data-th-field="*{lname}" ></input> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!--                         <div class="form-group"> -->
<!--                             <label class="col-sm-5 control-label" data-th-text="#{user.list.enabled.label}">Enabled</label> -->
<!--                             <div class="col-sm-7"> -->
<!--                                 <select class="form-control" th:id="*{enabled}" th:field="*{enabled}"> -->
<!--                                   <option th:each="type : ${enabledOptions}" th:value="${type}" th:text="${type}">Dropdown</option> -->
<!--                                 </select> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                         <div class="form-group"> -->
<!--                             <label class="col-sm-5 control-label" data-th-text="#{user.list.role.label}">Role</label> -->
<!--                             <div class="col-sm-7"> -->
<!--                                 <select class="form-control" th:id="*{roleId}" th:field="*{roleId}"> -->
<!--                                       <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.rolename}">Dropdown</option> -->
<!--                                 </select> -->
<!--                             </div> -->
<!--                         </div> -->
						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-7" >
								<button type="submit" class="btn btn-primary"        name="action" data-th-value="#{button.action.save}"   data-th-text="#{button.label.save}"  >Save</button>
								<button type="submit" class="btn btn-default active" name="action" data-th-value="#{button.action.cancel}" data-th-text="#{button.label.cancel}">Cancel</button>
							</div>
						</div>
<!-- 						<div class="form-group"> -->
<!-- 							<div class="col-sm-offset-5 col-sm-7" > -->
<!-- 								<p class="text-danger" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}">type error</p>  -->
<!-- 								<p class="text-danger" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}">name error</p>  -->
<!-- 							</div> -->
<!-- 						</div> -->
					</form>
			    </div>
                <div class="col-sm-4"></div>
					
            </div>  <!-- /.col-lg-12 -->                
        </div>      <!-- /.row -->              
    </div>          <!-- page wrapper -->
</div>              <!-- /#wrapper -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-1.11.0.min.js" 
        data-th-src="@{/resources/js/jquery-1.11.0.min.js}"></script>
        
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap-3.1.1.min.js" 
        data-th-src="@{/resources/js/bootstrap-3.1.1.min.js}"></script>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js" 
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
        
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin.js" 
        data-th-src="@{/resources/js/sb-admin.js}"></script>

</body>
</html>

			