<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://github.com/dandelion/datatables">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title data-th-text="#{shops.list.page.title}">Title</title>
</head>
<!-- Core CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap-3.1.1.min.css"
	data-th-href="@{/resources/css/bootstrap-3.1.1.min.css}" />

<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome/css/font-awesome.css}" />

<!-- SB Admin CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin.css"
	data-th-href="@{/resources/css/sb-admin.css}" />

<style>
.no-border-on-me>thead>tr>th, .no-border-on-me>tbody>tr>th,
	.no-border-on-me>tfoot>tr>th, .no-border-on-me>thead>tr>td,
	.no-border-on-me>tbody>tr>td, .no-border-on-me>tfoot>tr>td {
	border-top-style: none;
	border-bottom-style: none;
}
.dropdown-menu {
	min-width: 0px;
}


</style>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->





<!-- ====================leaflet======================= -->
<link rel="stylesheet" type="text/css"
	href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script type='text/javascript'
	src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script type='text/javascript'
	src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2'></script>
	
	<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=B3cxAIa0Jmxz7rksBy0sCKoSOraP9Lpk"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-geocoding.js?key=B3cxAIa0Jmxz7rksBy0sCKoSOraP9Lpk"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



<body>

	<div id="wrapper">
		<!-- /#wrapper -->

		<div data-th-replace="fragments/sb-admin :: top-nav"></div>
		
		



		<nav data-th-fragment="vert-nav"
			class="navbar-default navbar-static-side">
			<div class="sidebar-collapse">


				<form class="form-horizontal" role="form"
					style="margin: 0px 8px 0px 8px;" action="#"
					data-th-action="@{/map/search}" method="get">

					<div>
						<label for="auditor" >Auditor</label>
						<select
							class="form-control" id="auditor1">
							<option th:value="Tout">Tout</option>
							<option th:each="auditor : ${allAuditors}"
								th:value="${auditor.username}" th:text="${auditor.username}">Dropdown</option>
						</select>
					</div>


					<div>
						<label for="operator">Operator :</label> <select
							class="form-control" id="operator1">
							<option th:value="Tout">Tout</option>
							<option th:each="operator : ${allOperators}"
								th:value="${operator.nom_op}" th:text="${operator.nom_op}">Dropdown</option>
						</select>

					</div>



<div class="form-group">
						<div class="col-xs-10">
							<!-- 							<button class="btn btn-primary pull-right" id="mkk"  ></button> -->
							<a id="submit_markers" href="#" onclick="removeAllMarkers()"><button
									type="button" class="btn btn-info">Show Shops</button></a>
						</div>



					</div>

<button id="reve" onclick="removeAllMarkers()"
					class="btn btn-default">Clear markers</button>

				</form>
			</div>

		</nav>

		
		
		

		<div id="page-wrapper">
			<div class="row">
				<div class="col-xs-12">

					<h4 class="page-header" id="shops">MAP</h4>
						<div id="map" style="width: 100%; height: 600px;"></div>


				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- page wrapper -->
	</div>
	<!-- /#wrapper -->



<script type="text/javascript">
		$(document).ready(function() {

		});

		// 		event on click
		$('#submit_markers').click(
				function load() {
					//var user = $('#user').val();
					var operator = $('#operator1').val();
					//var governorate = $('#governorate').val();

					// 		$("#loading-text").text("Loading data");
					// 		$("#loading_mask").show();

					var request = $.ajax({
						type : "GET",
						url : "/map/loadShops",	

						data :  "operator=" + operator ,
 								
						dataType : "json",
					});

					request.success(function(data) {
						// 			$("#loading_mask").hide();
						//displayMarkers(data);
						markers = data;

						DisplayMarkers(markers);

						// call next ajax function
// 						DisplaySTAT1();
// 						DisplayDetailsTable(markers);
					});
					request.fail(function(jqXHR, textStatus) {
						// 			$("#loading_mask").hide();
						alert(textStatus);
					});

				});









		


		// 	functions

		function DisplayMarkers(markers) {

			var markerArray = [];

			Mar = new L.FeatureGroup();
			
					var marker = L
							.marker([ 5.342925, -3.981171 ], {
								icon : orangeIcon
							//	 					'<a href="' + markers[i][2] + '" target="_blank">'+ markers[i][8] + '</a>'
							})
							.bindPopup().addTo(map);

				

				// 				'<div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">Panel title</h3> </div><div class="panel-body"> Panel content</div> </div>'

				markerArray.push(L.marker([ 5.342925, -3.981171]));
				Mar.addLayer(marker);
			
			map.addLayer(Mar);
			var group = L.featureGroup(markerArray);
			map.fitBounds(group.getBounds());
			//return false;
		}
		                  // zoom the map to the polyline

	</script>














	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript"
		src="../../resources/js/jquery-1.11.0.min.js"
		data-th-src="@{/resources/js/jquery-1.11.0.min.js}"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript"
		src="../../resources/js/bootstrap-3.1.1.min.js"
		data-th-src="@{/resources/js/bootstrap-3.1.1.min.js}"></script>

	<!-- Core Scripts - Include with every page -->
	<script type="text/javascript"
		src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
		data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

	<!-- SB Admin Scripts - Include with every page -->
	<script type="text/javascript" src="../../resources/js/sb-admin.js"
		data-th-src="@{/resources/js/sb-admin.js}"></script>


<!-- 	<script src="resources/js/jquery.min.js"></script> -->
<script type="text/javascript"
		src="../../resources/js/jquery.min.js"
		data-th-src="@{/resources/js/jquery.min.js}"></script>

	<!-- 	<script type='text/javascript' src='resources/markers.json'></script> -->
<!-- 	<script type='text/javascript' src='resources/leaf-demo.js'></script> -->

<script type="text/javascript"
		src="../../resources/leaf-demo.js"
		data-th-src="@{/resources/leaf-demo.js}"></script>


</body>
</html>
